.adminTrafficControllerTitle{
  color:#0BB699;
  position: relative;
  top: 10vh;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.adminTrafficControllerTitle h1{
  color:#0BB699;
  position: relative;
  text-align: center;
}

.adminTrafficController{
  position: relative;
  /*float:left;*/
  width:100%;
  height: 90vh:

}

.adminAddControlContainer{
  height: 70vh;
  width: 31%;
  background-color: white;
  position: relative;
  top: 10vh;
  left:3vw;
  margin-right:1vw;
  float:left;
}

.adminAddControlContainer h1{
  color: #0BB699;
  position: relative;
  text-align: center;
}

.adminAddControlContainer button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:40px;
  width:100px;
  text-align: center;
  margin-bottom: 8px;
}

.adminAddControlContainer p{
  height: 5vh;
  width: 10vw;
  display:block;
  text-align: center;
  background-color: #BB5853;
  color:white;
  font-size: 1.7em;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.adminAddControlContainer a{
  color: inherit;
}

.adminAddControlContainer a:hover{
  text-decoration: none;
}

#adminViewControlContainer{
  height: 70vh;
  width: 60%;
  background-color: white;
  position: relative;
  top: 10vh;
  left:3vw;
  float: left;
  margin-right:1vw;
}
