.userInfoContainer{
  height: 5%;
  width: 40%;
  /*background-color: red;*/
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 1;
}

.userInfoContainer a{
  cursor:pointer;
}

.facebookProfileImage{
  border-radius:50%;
  height:50px;
  width: 50px;
  position: relative;
  float:left;
}

.userGreeting{
  color: white;
  font-size: 1.5em;
  /*font-family: 'Andale Mono', AndaleMono, monospace;*/
  position:relative;
  left:5px;
  font-weight:100;
}

.userGreeting a{
  color:inherit;
  text-decoration: none;
}

.userGreeting a:hover{
  color:#F3B3B2;
}

.allPostContainer{
    width:50%;
    height:100%;
    background-color: white;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.indPostContainer{
  width:70%;
  height:100%;
  /*background-color: red;*/
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.brandInfoContainer{
  height:20%;
  width: 100%;

}

.brandImage{
  height:50px;
  width:60px;
  border-radius: 50%;
  position: relative;
  float:left;
  margin-bottom: 10px;
  margin-top: 10px;

}

.brandName{
  color: #77689E;
  font-size: 2.0em;
  /*font-family: 'Andale Mono', AndaleMono, monospace;*/
  position:relative;
  top: 15px;
  left:5px;
  font-weight:100;
}

.brandName a{
  color:inherit;
}

.brandName a:hover{
  color:#F3B3B2;
}

.postImage{
  width:100%;
  height: 40%;
}

.postInfoForWinContainer{
  background-color: #77689E;
}

.postInfoForWinContainer p{
  color: white;
  size: 1.5em;
  text-align: center;
}

.postAdditionalInfoContainer p{
  color: #77689E;
  size: 1.5em;
  text-align: center;
}

.captionContainer{
  height:30%;
  width: 100%;
  /*border: #77689E 1px solid;*/
}

.captionText{
  color: #77689E;
  font-size: 1.5em;
  /*font-family: 'Andale Mono', AndaleMono, monospace;*/
  text-align: left;
  font-weight:100;
  position: relative;
  float:left;
  width:90%;
  height:30px;
  /*border: 1px solid #bed5cd;*/
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  box-sizing:border-box;
}

.captionUpVoteContainer{
  padding-bottom: -1vh;
}

.captionUpVote{
  color: #77689E;
  font-size: 1.5em;
  /*font-family: 'Andale Mono', AndaleMono, monospace;*/
  font-weight:100;
  text-align: right;
  /*border: blue 1px solid;*/
}

.addCaptionText{
  text-align: center;
}

/*New section for posts*/

.postsNewFormContainer{
  height:auto;
  width: 50%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:12vh;
}

.postsNewFormContainer h1{
  position: relative;
  top:2vh;
  text-align: center;
  text-decoration: underline;
  position: relative;
  top: 0.5vh;
  color: #532171;
}

.postsNewFormContainer h2{
  text-align: center;
  color: #C7494C;
}

.postsNewFormContainer label{
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
  color: #532171;
}

.postsNewFormContainer select{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 40px;
  text-align: center;
}
.postsNewFormContainer input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 40px;
  text-align: center;
}
/*fileupload styling for button*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 60px;

}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#newPostSubmitButton{
  margin-top: 20px;
  color:white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*show page for individual Post*/
.showPagePostContainer{
  height:auto;
  width: 70%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:11vh;
}

.showPageIndPostContainer{
  width:70%;
  height:100%;
  /*background-color: red;*/
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.showPageBrandInfoContainer{
  height:20%;
  width: 100%;
}

.showPageBrandImage{
  height:75px;
  width:85px;
  border-radius: 50%;
  position: relative;
  float:left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.showPageBrandName{
  color: #77689E;
  font-size: 2.3em;
  /*font-family: 'Andale Mono', AndaleMono, monospace;*/
  position:relative;
  top: 30px;
  left:5px;
  font-weight:100;
}

.showPagePostImage{
  width:100%;
  height: 40%;
}

.showPageCaptionsContainer{
  height:30%;
  width: 100%;
  /*border: #77689E 1px solid;*/
}

.showPageCaptionText{
  color: #77689E;
  font-size: 1.5em;
  /*font-family: 'Andale Mono', AndaleMono, monospace;*/
  text-align: left;
  font-weight:100;
  position: relative;
  float:left;
}


.showPageCaptionUpVote{
  color: #77689E;
  font-size: 1.5em;
  /*font-family: 'Andale Mono', AndaleMono, monospace;*/
  font-weight:100;
  text-align: right;
  /*border: blue 1px solid;*/
}

.showPageAddNewCaptionContainer{
  /*border:red 1px solid;*/
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.showPageAddNewCaptionLabel{
  font-size: 1.7em;
  color: #3B0C56;
}

.showPageNewCaptionTextBox{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid gray;
  /*border: gray 0px solid;*/
  width: 20vw;
  height: 5vh;
}

#showPageNewCaptionSubmitButton{
  /*position: relative;
  left: 2vw;*/
  float:right;
}

/*admin posts index page*/
.adminPostsIndexContainer{
  height:90vh;
  width: 90%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:11vh;
  overflow: scroll;
}

.adminPostsIndexContainer table{
  border-collapse: collapse;
  position: relative;
  left: 10vw;
  top:5vh;
  /*border: 1px solid #77689E;*/
}

.adminPostsIndexContainer h2{
  position: relative;
  left: 2vw;
  color:#77689E;
  font-size: 2.0em;
}

.adminPostsIndexContainer h3{
  position: relative;
  left: 2vw;
  color:#77689E;
  font-size: 1.8em;
}

.adminPostsIndexContainer img{
  border-radius: 50%;
  height: 75px;
  width: 75px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.adminPostsIndexContainer th{
  font-size: 1.5em;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #77689E;
  color:#77689E;
}

.adminPostsIndexContainer tr{
  border-spacing: 2.0rem

}

.adminPostsIndexContainer td{
  text-align: center;
  font-size: 1.3em;
  width: 20vh;
  height: 12vh;
  color:#3B0C56;
}
