.showPageContainer{
  width:90%;
  height:auto;
}
.showPageProfileInfoContainer{
  width:90vw;
  height: 50vh;
  position: relative;
  top:7vh;
  left: 10vw;
  /*float:left;*/
}

.showPageProfileContainer{
  width:40vw;
  /*position: relative;*/
}

.showPageProfileImage{
  border-radius:50%;
  position: relative;
  float: left;
}

.showPageUserName{
  color: white;
  font-size: 3.5em;
  font-weight:100;
  text-decoration: underline;
}

.showPageRank{
  color: white;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

.showPageCaptionAmount{
  color: white;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

.showPageMoneyEarned{
  color: white;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

.showPageTotalPoints{
  color: white;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

.showPagePointsNeeded{
  color: white;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

/*total hack, need to fix this positioning*/
.showPageTopCaptionsInfoContainer{
  position: relative;
  margin-top:-27vh;
  width:40vw;
  /*float:left;*/
  left: 40vw;
}

/*more hack*/
.showPageTopPostsTitle{
  color: white;
  font-size: 2.0em;
  font-weight:100;
  position: relative;
  /*left: 20px;*/
  text-align: center;
  right: 8vw;
  top:-13vh;
}

.showPageTopCaptionsContainer{
  position: relative;
  top: -20vh;
  height:40vh;
  width:40vw;
  background-color: white;
  overflow: scroll;
}

.showPagePepperContainer{
  width:90vw;
  height: 40vh;
  /*display:inline;*/
  position: relative;
  top:15vh;
  left: 15vw;
}

.showPageFirstPepperContainer{
  height:55vh;
  width: 30vw;
  position: relative;
}

.showPageFirstPepperContainer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.showPageFirstPepperContainer p{
  text-align: center;
}

/*maybe the biggest hack ever.  need to refactor*/
.showPageNextPepperContainer{
  height:auto;
  width: 30vw;
  position: relative;
  left: 40vw;
  top: -55vh;

}

.showPageNextPepperContainer img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.showPagePepperContainer p{
  color: white;
  font-size: 1.7em;
  font-weight:100;
  text-align: center;
}
