.showPageContainer{
  /*position: fixed;*/
  width:90vw;
  height:70vh;
  position: relative;
  left: 5vw;
  top: 15vh;
  float:left;
}
/*.showPageProfileInfoContainer{
  width:40vw;
  height: 60vh;
  position: relative;
  border: 1px red solid;
  float: left;
}*/

.showPageProfileContainer{
  width:40vw;
  height: 100%;
  position: relative;
  left: 5vw;
  /*float: left;*/

}

.showPageProfileImage{
  border-radius:50%;
  position: relative;
  float: left;
  width:200px;
  height: 200px;
}

.showPageUserName{
  color: #0BB699;
  font-size: 3.5em;
  font-weight:100;
  text-decoration: underline;
}

.showPageRank{
  color: #0BB699;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

.showPageCaptionAmount{
  color: #0BB699;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

.showPageMoneyEarned{
  color: #0BB699;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

.showPageTotalPoints{
  color: #0BB699;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

.showPagePointsNeeded{
  color: #0BB699;
  font-size: 1.7em;
  font-weight:100;
  position: relative;
  left: 10px;
}

/*total hack, need to fix this positioning*/
/*#showPageTopCaptionsInfoContainer{
  clear:both;
  position: relative;
  top:-38vh;
  width:40vw;
  float:left;
  left: 15vw;
}*/

/*more hack*/
/*.showPageTopPostsTitle{
  color: #0BB699;
  font-size: 2.0em;
  font-weight:100;
  position: relative;
  left: 20px;
  text-align: center;
  right: 8vw;
  top:-13vh;
  padding-right: 5px;
}*/

/*.showPageTopCaptionsContainer{
  position: relative;
  top: -20vh;
  height:40vh;
  width:40vw;
  background-color: white;
  overflow: scroll;
}*/

/*.showPageProfileCaptionText{
  padding-left: 10px;
  padding: 1px;
  font-size: 1.2em;
  color:#77689E;
}*/

.showPagePepperContainer{
  width:30vw;
  height: 40vh;
  position: relative;
  top:-65vh;
  left: 50vw;
}

.showPageFirstPepperContainer{
  height:auto;
  width: 30vw;
  position: relative;
}

.showPageFirstPepperContainer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  height: 100px;
}

.showPageFirstPepperContainer p{
  text-align: center;
}

/*maybe the biggest hack ever.  need to refactor*/
/*.showPageNextPepperContainer{
  height:20vh;
  width: 30vw;
  position: relative;
  left: 40vw;
  top: -55vh;

}*/

.showPageNextPepperContainer img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  height: 100px;
}

.showPagePepperContainer p{
  color: #0BB699;
  font-size: 1.7em;
  font-weight:100;
  text-align: center;
}

.aboutPagePipernessAboutText{
  color:white;
  position: relative;
  top: 80vh;
}
