<div class="aboutInfoContainer">
  <h2>Piper is a content platform that crowd sources creative insights</h2>
  <p>1 Vote on a campaign = 1 point</p>
  <p>1 Caption submitted = 1 point</p>
  <p>Top Caption / Campaign = 5 points + $ prize</p>
  <h3>How hot is your content?</h3>
</div>
<div class="pepperPicturesContainer">
  <img src="../../images/1-Bell-Pepper.png" alt="image not found" />
  <img src="../../images/2-Pimento-Pepper.png" alt="image not found" />
  <img src="../../images/3-Poblano-Pepper.png" alt="image not found" />
  <img src="../../images/4-Anaheim-Pepper.png" alt="image not found" />
  <img src="../../images/5-Jalapeno-Pepper.png" alt="image not found" />
  <img src="../../images/6-Cayenne-Pepper.png" alt="image not found" />
  <img src="../../images/7-Habenero-Pepper.png" alt="image not found" />
  <img src="../../images/8-Ghost-Pepper.png" alt="image not found" />
  <img src="../../images/9-Scorpion-Pepper.png" alt="image not found" />
</div>
<div class="aboutPageFacebookSignUp">
<button class="facebookSignInButton" ng-click="authenticate('facebook')"> Sign in with Facebook</button>
</div>
