<div class="aboutInfoContainer">
  <div class="aboutInfoTextContainer">
      <h1>Piper is a content platform that crowd sources creative insights</h1>
      <h2>1 Vote on a campaign = 1 point</h2>
      <h2>1 Caption submitted = 1 point</h2>
      <h2>Top Caption / Campaign = Bonus points + $ prize</h2>
      <h3>How hot is your content?</h3>
    </div>
  </div>

<div class="pepperPicturesContainer">
  <div class="pepperPicturesHolder">
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/1-Bell-Pepper_ipdxzs.png" alt="image not found" />
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/2-Pimento-Pepper_ujk3yd.png" alt="image not found" />
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/3-Poblano-Pepper_si1nej.png" alt="image not found" />
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/4-Anaheim-Pepper_tksykv.png" alt="image not found" />
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/5-Jalapeno-Pepper_mkqgio.png" alt="image not found" />
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/6-Cayenne-Pepper_bidkki.png" alt="image not found" />
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/7-Habenero-Pepper_s3ehvp.png" alt="image not found" />
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/8-Ghost-Pepper_zh1mos.png" alt="image not found" />
    <img src="https://res.cloudinary.com/domwzddwk/image/upload/v1460398830/9-Scorpion-Pepper_bvxxfg.png" alt="image not found" />
  </div>
</div>
<div class="aboutPageFacebookSignUp">
<button id="aboutFacebookSignInButton" ng-click="authenticate('facebook')" class='btn btn-primary btn-lg'> Sign in with Facebook</button>
</div>
</div>
