<div class="showPageContainer">
  <!-- <div class="showPageProfileInfoContainer"> -->
    <div class="showPageProfileContainer">
      <img class="showPageProfileImage"src="{{userObj.profile_image_url}}" alt="file not found" />
      <h2 class="showPageUserName">{{userObj.name}}</h2>
      <h3 class="showPageRank">Piperness: {{pepper.pepper}}</h3>
      <h3 class="showPageCaptionAmount">Captions Submitted: {{captionAmount}}</h3>
      <h3 class="showPageMoneyEarned">Money Earned: {{userObj.total_money_earned | currency}}</h3>
      <h3 class="showPageTotalPoints">Total Points: {{userObj.total_points}}</h3>
      <h3 class="showPagePointsNeeded">Points Needed for Next Rank: {{points_needed_next_rank}}</h3>
      <!-- this is the graphic that shows a circular graph  -->
    <!-- </div>
    <div id="showPageTopCaptionsInfoContainer" style="width: 320px; height: 320px; margin: 0 auto">
    </div> -->
  </div>
  <div class="showPagePepperContainer">
    <div class="showPageFirstPepperContainer">
      <p>Current Piperness: {{pepper.pepper}}</p>
      <img src="{{pepper.pepper_image_url}}" alt="image not found" />
      <!-- <p>General Content Votes: 30</p>
      <p>Your Caption Votes: 10</p>
      <p>Top Caption Finishes: 1</p> -->
    </div>
    <div class="showPageNextPepperContainer">
      <p>Next Piperness: {{next_pepper.pepper}}</p>
      <img class="showPageNextPepperImage" src="{{next_pepper.pepper_image_url}}" alt="image not found" />
    </div>
  </div>
  <!-- <div class="aboutPagePipernessAboutText">
    <p>
      What is <a href="/#/about">piperness</a>?
    </p>
  </div> -->
<!-- </div> -->
</div>
