<div class="showPageprofileInfoContainer">
  <img class="showPageProfileImage"src="{{userObj.profile_image_url}}" alt="file not found" />
  <h2 class="showPageUserName">{{userObj.name}}</h2>
  <h3 class="showPageRank">Rank: Green Bell Pepper</h3>
  <h3 class="showPageCaptionAmount">Captions: 17</h3>
  <h3 class="showPageMoneyEarned">Money Earned: $25</h3>
  <h2 class="showPageTopPostsTitle">Top Posts:</h2>
</div>
<div class="showPagePepperContainer">
  <img src="../../../images/1-Bell-Pepper.png" alt="image not found" />
  <p>Total Points: 45</p>
  <p>General Content Votes: 30</p>
  <p>Your Caption Votes: 10</p>
  <p>Top Caption Finishes: 1</p>
  <p>Points Needed for Next Rank: 105</p>

</div>
